In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
os.chdir(r'C:\Users\GopinathPandit\OneDrive - ConcertAI\Python\Python_Practice')

In [5]:
os.getcwd()

'C:\\Users\\GopinathPandit\\OneDrive - ConcertAI\\Python\\Python_Practice'

In [14]:
active_npi = {}
deactive_npi = {}

for i in range(1, 31):
    active_npi[f"df_{i}"] = pd.read_excel(f"NPI_Deactive_sample_{i}.xlsx", sheet_name= "NPI_Details")
    deactive_npi[f"df_{i}"] = pd.read_excel(f"NPI_Deactive_sample_{i}.xlsx", sheet_name= "Deactive-Invalid_NPI")

In [20]:
data = pd.DataFrame(columns=['NPI', 'Active', 'Deactive'])

# Populate the dataframe with values from dictionaries
for i in active_npi.keys():
    active_count = active_npi[i].shape[0]
    deactive_count = deactive_npi[i].shape[0]
    data = data.append({'NPI': i, 'Active': active_count, 'Deactive': deactive_count}, ignore_index=True)

1

In [26]:
data['NPI'] = data['NPI'].str.replace('df','sample')

In [37]:
data['total'] = data['Active'] + data['Deactive']

In [38]:
data

          NPI Active Deactive total
0    sample_1      1       29    30
1    sample_2      2       28    30
2    sample_3      3       27    30
3    sample_4      1       29    30
4    sample_5      2       28    30
5    sample_6      1       29    30
6    sample_7      3       27    30
7    sample_8      0       30    30
8    sample_9      0       30    30
9   sample_10      1       29    30
10  sample_11      4       26    30
11  sample_12      3       27    30
12  sample_13      2       28    30
13  sample_14      3       27    30
14  sample_15      2       28    30
15  sample_16      0       30    30
16  sample_17      4       26    30
17  sample_18      2       28    30
18  sample_19      3       27    30
19  sample_20      4       26    30
20  sample_21      2       28    30
21  sample_22      2       28    30
22  sample_23      2       28    30
23  sample_24      1       29    30
24  sample_25      1       29    30
25  sample_26      2       28    30
26  sample_27      3       27    30
27  sample_28      0       30    30
28  sample_29      1       29    30
29  sample_30      3       27    30

In [41]:
import scipy.stats as stats

# Extract the deactive counts from the dataframe
deactive_counts = data['Deactive']

# Calculate the sample mean and standard deviation
mean = deactive_counts.mean()
std_dev = deactive_counts.std()

# Calculate the standard error
std_error = std_dev / (len(deactive_counts) ** 0.5)

# Set the confidence level
confidence = 0.95

# Calculate the margin of error
margin_error = stats.t.ppf((1 + confidence) / 2, len(deactive_counts) - 1) * std_error

# Calculate the lower and upper bounds of the confidence interval
lower_bound = mean - margin_error
upper_bound = mean + margin_error

# Print the confidence interval
print("Confidence Interval (95%): [{:.2f}, {:.2f}]".format(lower_bound, upper_bound))

Confidence Interval (95%): [27.62, 28.52]